[submodule "src/main/resources/vsrc/vortex"]
	path = src/main/resources/vsrc/vortex
	url = https://github.com/hansungk/vortex.git
[submodule "cyclotron"]
	path = cyclotron
	url = https://github.com/hansungk/cyclotron.git
[submodule "src/main/resources/vsrc/cvfpu"]
	path = src/main/resources/vsrc/cvfpu
	url = https://github.com/richardyrh/cvfpu.git
[submodule "src/main/scala/radiance/muon/backend/fp/fpEX"]
	path = src/main/scala/radiance/muon/backend/fp/fpEX
	url = https://github.com/Sh-Anand/fpEX.git
