name: ci

on:
  push:
    branches: [ ci ]
  pull_request:

jobs:
  chipyard-setup:
    runs-on: as4

    defaults:
      run:
        # for conda activation
        shell: bash -el {0}

    env:
      CHIPYARD_DIR: ${{ github.workspace }}/chipyard
      # flip to force-reset cache
      CACHE_NUMBER: 0

    steps:
      - name: Setup system
        run: |
          cat /proc/cpuinfo | tail -n20
          vmstat -SM
          df -h
          [ -d "${{ github.workspace }}" ] && rm -rf "${{ github.workspace }}/*"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout Chipyard
        run: |
          rm -rf "${CHIPYARD_DIR}"
          git clone "https://github.com/ucb-bar/chipyard.git" "${CHIPYARD_DIR}"
          cd "${CHIPYARD_DIR}"
          git checkout main
          echo "CHIPYARD_HASH=$(git rev-parse HEAD)" >> "${GITHUB_ENV}"

      - name: Install conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""

      - name: Cache Scala deps
        uses: actions/cache@v5
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
            ~/.cache/coursier
          key: scala-${{ hashFiles('**/*.sbt', '**/project/**') }}-${{ runner.os }}-${{ runner.arch }}-${{ env.CACHE_NUMBER }}

      - name: Cache conda-env
        id: cache-conda-env
        uses: actions/cache@v5
        with:
          path: |
            chipyard/.conda-env
            chipyard/env.sh
          key: chipyard-${{ env.CHIPYARD_HASH }}-${{ runner.os }}-${{ runner.arch }}-${{ env.CACHE_NUMBER }}

      - name: Setup Chipyard
        run: |
          .github/scripts/setup-chipyard.sh "${{ steps.cache-conda-env.outputs.cache-hit }}"

      - name: Print conda envs
        run: |
          cd "${CHIPYARD_DIR}"
          conda env list
          df -h
          du -sh "${CHIPYARD_DIR}/.conda-env"
          du -sh "${CHIPYARD_DIR}/.conda-env/riscv-tools"

      - name: Run something
        run: |
          set -x
          cd "${CHIPYARD_DIR}"
          cat env.sh
          source env.sh
          echo "RISCV=$RISCV"
          conda env list
          which verilator
          cd sims/verilator
          make CONFIG=RocketConfig run-binary BINARY="$RISCV/riscv64-unknown-elf/share/riscv-tests/isa/rv64uf-p-fadd"

      # - name: radiance
      #   run: |
      #     source "$CHIPYARD_DIR/env.sh"
      #     ...
